.search-container {
    color: grey;
    margin: 14px 16px;
    text-align: end;
    float: right;
    outline: #cc47c5;
}

.search-container button {
    cursor: pointer;
    height: 37px;
    width: 50px;
    padding: 1px 0px 30px 3px;
    margin-top: 5px;
    outline: #cc47c5;
}

.search-container button:hover {
    background-color: rgb(255, 255, 255);
    border-color: #cc47c5;
}

.search-container input:hover {
    background-color: rgb(255, 255, 255);
    border-color: #cc47c5;
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }

    .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    input[type=text] {
        border: 1px solid #ccc;
    }
}







.navBar {
    background-color: #fff;
}

.navBar select {
    margin-top: 2%;
    outline: #cc47c5;
    margin: 19px 10px;
}

.navBar select:hover {
    background-color: rgb(255, 255, 255);
    border-color: #cc47c5;
}

/*Floats each item to the left with padding of 14 & 16 px.
  Removes the underline with text decoration = none.*/
.navBar a {
    float: left;
    color: grey;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Tahoma;
}

/*Background color change during hover state*/
.navBar a:hover {
    background-color: white;
    color: #cc47c5;
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon {
    display: none;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 550px) {

    /*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
    .navBar a:not(:first-child) {
        display: none;
    }

    .navBar select {
        display: none;
    }

    /*Brings the menu icon into view and floats it to the right*/
    .navBar a.icon {
        display: block;
        float: right;
    }

    /*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
    .navBar.responsive {
        position: relative;
    }

    .navBar.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
        right: 25%;
    }

    /*Removes the originally set float and brings them to view*/
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navBar.responsive select {
        float: none;
        display: block;
        text-align: left;
    }

}

@media (min-width: 795px) {
    .search-container {
        margin: 14px 0px 0px 0px;
    }
    .navBar a {
        margin-right: auto;
    }
}

@media (max-width: 810px) {
    .search-container {
        display: none;
    }
}

