{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is a gift for you.">
    <meta name="author" content="Bren">
    <title>{% block title %}Yaligurumi{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="static/css/skeleton.css" type="text/css">
    <link rel="stylesheet" href="static/css/nav.css" type="text/css">
    <link rel="stylesheet" href="static/css/home.css" type="text/css">
    <script>
        function openDrawerMenu(){
            var x = document.getElementById("mainNavBar");
            if (x.className === "navBar"){
              x.className += " responsive";
            } else {
              x.className = "navBar";
            }
          }
    </script>
</head>

<body>
    <div class="container box"> 
    <div class="navBar" id="mainNavBar">
        <a href="#">Inicio</a>
        <a href="#about">Tienda</a>
        <select name="cars" id="cars">
            <option value="">Todo</option>
            {% for c in categories %}
            <option value="">{{c.name|title}}</option>
            {% endfor %}
          </select>
          <a href="#about">Contacto</a>
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Buscar..." name="search">
              <button type="submit">🔎</button>
            </form>
          </div>
        <a href="javascript:void(0);" class="icon" onClick="openDrawerMenu()">&#9776;</a>
        <!--&#9776; is the code for the 3 line menu button-->
      </div>
    </div>
    <div id="content">{% block content %} {% endblock %}</div>
</body>
</html>